[Unit]
Description=Timer för Betsson-grupp scraper (var 3min)

[Timer]
OnBootSec=60s
OnUnitActiveSec=3min
AccuracySec=5s
Unit=odds-scraper@betsson.service

[Install]
WantedBy=timers.target
