[Unit]
Description=Timer för ComeOn-grupp scraper (var 3min)

[Timer]
OnBootSec=60s
OnUnitActiveSec=3min
AccuracySec=5s
Unit=odds-scraper@comeon.service

[Install]
WantedBy=timers.target
